body {
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.8s ease;
}

.nav-link {
    color: rgb(75 85 99);
    /* text-gray-600 */
    font-weight: 500;
    transition: color 0.2s;
}

.nav-link:hover .nav-text {
    color: rgb(17 24 39);
    /* text-gray-900 */
}

.nav-link.active .nav-text {
    color: rgb(17 24 39);
    /* text-gray-900 */
    border-bottom: 2px solid rgb(17 24 39);
    padding-bottom: 0.15rem;
    display: inline-block;
}